{% block stylesheets %}
{% endblock %}
{% extends "admin/layout.twig" %}
{% block html_title %}Banners Cabeçalho - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'banners_cabecalho' %}
{% set subnav_active = 'banners_cabecalho' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/banners_cabecalho">Banners Cabeçalho</a></li>
  <li  class="active">{{ banner.name }}</li>
</ol>
{% endblock %}
{% block content %}

<div class="panel panel-default">
  <div class="panel-heading" data-background-color="blue">
    <h3>Editar Banner</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/banners_cabecalho/update" method="POST"  enctype="multipart/form-data">

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="inputName">Nome</label>
                <input type="text" class="form-control" id="inputName" name="name" placeholder="Nome" value="{{ banner.name }}" required>
                <input type="hidden" name="id" value="{{ banner.id }}">
              </div>
            </div>
            <!-- RIGHT SIDE !-->
            <div class="col-xs-6">
              <div class="form-group">
                <label for="inputDescription">Descrição</label>
                <input type="description" class="form-control" id="inputDescription" name="description" placeholder="Descrição" value="{{ banner.description }}" required>
                <input type="hidden" name="id" value="{{ banner.id }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <!-- img_featured !-->
                  <div class="panel panel-default">
                    <div class="panel-heading text-center">
                      Imagem de detaque - Desktop
                    </div>
                    <div class="panel-body">

                      <img id="img_featured_show" src="{{ base_url() }}/{{ banner.img_featured }}" alt="Imagem de destaque" class="img-responsive" style="max-height: 300px; width: auto; margin: 0 auto;">

                    </div>
                    <div class="panel-footer">
                      <p class="text-center" >Tamanho Máximo: 500kb</p>
                      <input id="img_featured" type="file" class="btn btn-default btn-lg" style="display: block; margin: 0 auto; position:relative; max-width: 100%;" name="img_featured" value=""></input>

                      <input id="img_featured_old" type="hidden" class="btn btn-default btn-lg" style="display: block; margin: 0 auto; position:relative; max-width: 100%;" name="img_featured_old" value="{{ banner.img_featured }}"></input>

                    </div>
                  </div>
                  <!-- img_featured END !-->
                </div>
              </div>
            </div>
            <!-- MOBILE IMAGE !-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <!-- img_mobile !-->
                  <div class="panel panel-default">
                    <div class="panel-heading text-center">
                      Imagem de detaque - Mobile
                    </div>
                    <div class="panel-body">

                      <img id="img_mobile_show" src="{{ base_url() }}/{{ banner.img_mobile }}" alt="Imagem de destaque" class="img-responsive" style="max-height: 300px; width: auto; margin: 0 auto;">

                    </div>
                    <div class="panel-footer">
                      <p class="text-center" >Tamanho Máximo: 500kb</p>
                      <input id="img_mobile" type="file" class="btn btn-default btn-lg" style="display: block; margin: 0 auto; position:relative; max-width: 100%;" name="img_mobile" value=""></input>

                      <input id="img_mobile_old" type="hidden" class="btn btn-default btn-lg" style="display: block; margin: 0 auto; position:relative; max-width: 100%;" name="img_mobile_old" value="{{ banner.img_mobile }}"></input>

                    </div>
                  </div>
                  <!-- img_mobile END !-->
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Editar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script type="text/javascript">


  var imagem = $("#img_featured_show");
  var arquivo = $("#img_featured");
  arquivo.on("change", function (){
      if (arquivo[0].files.length == 0)
      return false;
      var file = arquivo[0].files[0];
      var url = URL.createObjectURL(file);
      imagem.attr("src", url);
      imagem.attr("title", file.name);
      console.log(arquivo[0].files[0]);
   });


  var imagem_mobile = $("#img_mobile_show");
  var arquivo_mobile = $("#img_mobile");
  arquivo_mobile.on("change", function (){
      if (arquivo_mobile[0].files.length == 0)
      return false;
      var file_mobile = arquivo_mobile[0].files[0];
      var url_mobile = URL.createObjectURL(file_mobile);
      imagem_mobile.attr("src", url_mobile);
      imagem_mobile.attr("title", file_mobile.name);
      console.log(arquivo_mobile[0].files[0]);
   });

</script>

{% endblock %}
