{% extends "admin/layout.twig" %}
{% block html_title %}Permissões - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'permission' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/permission">Permissões</a></li>
  <li>{{ permission.resource }}</li>
  <li class="active">Editar</li>
</ol>
{% endblock %}
{% block content %}

<div class="card">
  <div class="card-header" data-background-color="blue">
    <h3>Editar permissão</h3>
  </div>

  <div class="card-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/permission/update" method="POST">
          <input type="hidden" name="id" value="{{ permission.id }}">
          <input class="form-control form-group" type="text" name="resource" value="{{ permission.resource }}" autofocus>
          <input class="form-control form-group" type="text" name="description" value="{{ permission.description }}">
          
          {#
          <select class="form-control form-group" name="role_id">
            {% for role in roles %}
            <option {% if role.id == permission.role_id %} selected {% endif %} value="{{ role.id }}">{{ role.description }}</option>
            {% endfor %}
          </select>

          #}

          <h3>Permissões da rota</h3>
          {% for role in roles %}
            {% set i = 0 %}
            {% for role_id in permission.role_list %}
                {% if role_id == role.id %}
                    {% set i = 1 %}
                {% endif  %}
            {% endfor %}
            <div class="checkbox">
              <label>
                <input name="role_list_{{ role.id }}" type="checkbox" value="{{ role.id }}" {% if i == 1 %} checked {% endif  %}>
                {{ role.name }}
              </label>
            </div>
          {% endfor %}
          
          <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock %}
