{% extends "layout.twig" %}
{% block html_title %}{{ user.name }} - {{ parent() }}{% endblock %}
{% block content -%}
<div class="container-profile container">
  <div class="card">
    <div class="card-header" data-background-color="blue">
      <h3>Perfil</h3>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          {% if (flash['success']) %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
              {{ flash['success'] }}
            </div>
            {% endif %}
            {% if (flash['info']) %}
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
              {{ flash['info'] }}
            </div>
            {% endif %}
            {% if (flash['warning']) %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
              {{ flash['warning'] }}
            </div>
            {% endif %}
            {% if (flash['danger']) %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
              {{ flash['danger'] }}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7 ">
          <form role="form" data-toggle="validator" action="{{ base_url() }}/users/profile" method="POST">
            <input type="hidden" name="id" value="{{ user.id }}">
            <div class="row">
              <div class="col-sm-12">

                <div class="form-group">
                  <label for="inputName">Nome</label>
                  <input type="text" class="form-control" id="inputName" name="name" placeholder="Nome" value="{{ user.name }}" data-minlength="5" required>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" value="{{ user.email }}" required>
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label for="inputNascimento">Data de nascimento</label>
                <input type="date" class="form-control" id="inputNascimento" name="nascimento" value="{{ user.nascimento }}">
              </div>
              <div class="col-sm-6 form-group">
                <label for="inputCpf">CPF</label>
                <input type="text" class="form-control" id="inputCpf" name="cpf" placeholder="CPF" value="{{ user.cpf }}" pattern="^([0-9]){3}\.([0-9]){3}\.([0-9]){3}-([0-9]){2}$" title="Número do CPF com pontos e traço">
              </div>
            </div>
            <div class="row">


              <div class="col-sm-3 form-group">
                <label for="inputTelArea">DDD</label>
                <input type="number" class="form-control" id="inputTelArea" name="tel_area" placeholder="DDD" value="{{ user.tel_area }}">
              </div>
              <div class="col-sm-9 form-group">
                <label for="inputTelefone">Telefone</label>
                <input type="number" class="form-control" id="inputTelefone" name="tel_numero" placeholder="Telefone" value="{{ user.tel_numero }}">
              </div>
            </div>
            <div class="row">

            </div>
            <hr>
            {#
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputCep">CEP</label>
                  <input type="text" class="form-control" id="inputCep" name="end_cep" placeholder="CEP" value="{{ user.end_cep }}" pattern="^([0-9]){5}-([0-9]){3}$" title="Código do CEP com traço">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 form-group">
                <label for="inputRua">Rua</label>
                <input type="text" class="form-control" id="inputRua" name="end_rua" placeholder="Rua" value="{{ user.end_rua }}">
              </div>
              <div class="col-sm-3 form-group">
                <label for="inputNumero">Número</label>
                <input type="text" class="form-control" id="inputNumero" name="end_numero" placeholder="Número" value="{{ user.end_numero }}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputComplemento">Complemento</label>
                  <input type="text" class="form-control" id="inputComplemento" name="end_complemento" placeholder="Complemento" value="{{ user.end_complemento }}">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="inputBairro">Bairro</label>
                  <input type="text" class="form-control" id="inputBairro" name="end_bairro" placeholder="Bairro" value="{{ user.end_bairro }}">
                </div>
              </div>
              <div class="col-sm-7 form-group">
                <label for="inputCidade">Cidade</label>
                <input type="text" class="form-control" id="inputCidade" name="end_cidade" placeholder="Cidade" value="{{ user.end_cidade }}">
              </div>
              <div class="col-sm-4 form-group">
                <label for="selectEstado">Estado</label>
                <select class="form-control" id="selectEstado" name="end_estado">
                  <option value=""{{ user.end_estado is empty ? ' selected' }}>Estado</option>
                  <option value="AC"{{ user.end_estado == 'AC' ? ' selected' }}>Acre</option>
                  <option value="AL"{{ user.end_estado == 'AL' ? ' selected' }}>Alagoas</option>
                  <option value="AP"{{ user.end_estado == 'AP' ? ' selected' }}>Amapá</option>
                  <option value="AM"{{ user.end_estado == 'AM' ? ' selected' }}>Amazonas</option>
                  <option value="BA"{{ user.end_estado == 'BA' ? ' selected' }}>Bahia</option>
                  <option value="CE"{{ user.end_estado == 'CE' ? ' selected' }}>Ceará</option>
                  <option value="DF"{{ user.end_estado == 'DF' ? ' selected' }}>Distrito Federal</option>
                  <option value="ES"{{ user.end_estado == 'ES' ? ' selected' }}>Espírito Santo</option>
                  <option value="GO"{{ user.end_estado == 'GO' ? ' selected' }}>Goiás</option>
                  <option value="MA"{{ user.end_estado == 'MA' ? ' selected' }}>Maranhão</option>
                  <option value="MT"{{ user.end_estado == 'MT' ? ' selected' }}>Mato Grosso</option>
                  <option value="MS"{{ user.end_estado == 'MS' ? ' selected' }}>Mato Grosso do Sul</option>
                  <option value="MG"{{ user.end_estado == 'MG' ? ' selected' }}>Minas Gerais</option>
                  <option value="PA"{{ user.end_estado == 'PA' ? ' selected' }}>Pará</option>
                  <option value="PB"{{ user.end_estado == 'PB' ? ' selected' }}>Paraíba</option>
                  <option value="PR"{{ user.end_estado == 'PR' ? ' selected' }}>Paraná</option>
                  <option value="PE"{{ user.end_estado == 'PE' ? ' selected' }}>Pernambuco</option>
                  <option value="PI"{{ user.end_estado == 'PI' ? ' selected' }}>Piauí</option>
                  <option value="RJ"{{ user.end_estado == 'RJ' ? ' selected' }}>Rio de Janeiro</option>
                  <option value="RN"{{ user.end_estado == 'RN' ? ' selected' }}>Rio Grande do Norte</option>
                  <option value="RS"{{ user.end_estado == 'RS' ? ' selected' }}>Rio Grande do Sul</option>
                  <option value="RO"{{ user.end_estado == 'RO' ? ' selected' }}>Rondônia</option>
                  <option value="RR"{{ user.end_estado == 'RR' ? ' selected' }}>Roraima</option>
                  <option value="SC"{{ user.end_estado == 'SC' ? ' selected' }}>Santa Catarina</option>
                  <option value="SP"{{ user.end_estado == 'SP' ? ' selected' }}>São Paulo</option>
                  <option value="SE"{{ user.end_estado == 'SE' ? ' selected' }}>Sergipe</option>
                  <option value="TO"{{ user.end_estado == 'TO' ? ' selected' }}>Tocantins</option>
                </select>
              </div>
            </div>
            <hr>
            #}
            <div class="row">
              <div class="col-xs-12 col-sm-5">
                <div class="form-group">
                  <label for="inputNewPassword">Nova senha</label>
                  <input type="password" class="form-control" id="inputNewPassword" name="new_password" placeholder="Nova senha">
                </div>
              </div>
              <div class="col-xs-12 col-sm-offset-1 col-sm-6">
                <div class="form-group">
                  <div class="well">
                    <label for="inputCurrentPassword">Senha atual</label>
                    <input type="password" class="form-control" id="inputCurrentPassword"
                      name="password" placeholder="Senha atual" aria-describedby="helpBlock" required>
                    <span id="helpBlock" class="help-block">Por favor, coloque sua senha atual para confirmar as alterações.</span>
                    <div class="form-group">
                      <button type="submit" class="btn btn-info">Salvar alterações</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">

            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-4">
          <div class="card">

            <div class="card-content">
              <div class="row">
                <div class="col-xs-12 col-sm-12">

                  <a href="{{ base_url }}/admin" class="btn btn-lg btn-default" style="width:100%;">Acessar Administrativo</a>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{%- endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock %}
