{% extends "layout.twig" %}
{% block html_title %}Até logo - {{ parent() }}{% endblock %}
{% block content -%}
<div id="signin">
  <div class="container">
      {% if (flash['success']) %}
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        {{ flash['success'] }}
      </div>
      {% endif %}
      {% if (flash['info']) %}
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        {{ flash['info'] }}
      </div>
      {% endif %}
      {% if (flash['warning']) %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        {{ flash['warning'] }}
      </div>
      {% endif %}
      {% if (flash['danger']) %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        {{ flash['danger'] }}
      </div>
      {% endif %}
    </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="form-signin-heading">
          <h2>Obrigado e até logo!</h2>
          <h2>:)</h2>
          <h3>Gostaria de fazer login novamente?</h3>
          <a class="btn btn-info" href="{{ base_url }}/admin/login">login administrativo</a>
        </div>
      </div>
    </div>

  </div>
</div>

{%- endblock %}
{% block javascripts %}

{% endblock %}
