{% extends "admin/layout.twig" %}
{% block html_title %}Clientes{{ parent() }}{% endblock %}
{% set nav_active = 'clientes' %}
{% block breadcrumbs %}
  <ol class="breadcrumb" style="">
    <li><a href="{{ base_url() }}/admin">Início</a></li>
    <li><a href="{{ base_url() }}/admin/tipos_de_cliente">Clientes</a></li>
    <li class="active">Adicionar</li>
  </ol>
{% endblock %}
{% block content %}

<div class="card">
  <div class="card-header" data-background-color="blue">
    <h3>Cadastrar um Tipo de Cliente</h3>
  </div>

  <div class="card-content">
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <form id="userform" role="form" action="{{ base_url() }}/admin/tipos_de_cliente/add" method="POST">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="inputName">Nome</label>
                <input type="text" class="form-control" id="inputName" name="name"  required>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="inputSlug">Slug</label>
                <input type="text" class="form-control" id="inputSlug" name="slug" onkeyup="return AlteraMinusculas(this);" required>
                <div id="inputSlug-feedback"></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="inputDescription">Descrição</label>
                <input type="text" class="form-control" id="inputDescription" name="description"  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascripts %}

<script>
  // tratamento do botão enter
  $('body').on('keydown', 'input, select, textarea', function(e) {
    var self = $(this)
      , form = self.parents('form:eq(0)')
      , focusable
      , next
      ;
    //console.log(e.currentTarget);
    if (e.keyCode == 13) {
        focusable = form.find('input,a,select,button,textarea').filter(':visible');
        next = focusable.eq(focusable.index(this)+1);
        if (next.length || e.currentTarget.id == "selectRole") {
          if (e.currentTarget.id == "selectRole") {
            form.submit();
          }
          next.focus();

        } else {
            form.submit();
        }
        return false;
    }
  });
</script>

<script type="text/javascript">
  function AlteraMinusculas(campo) {
  campo.value=campo.value.toLowerCase();
}
</script>

<script>
  $('#inputSlug').on('blur', function(){
    $('#inputSlug').removeAttr('ok');
    $('#inputSlug').val($('#inputSlug').val().trim());
    if ($('#inputSlug').val().trim() == '') {
        $('#inputSlug-feedback').html('');
    } else {
      $.ajax({
        method: "POST",
        url: "{{ base_url }}/admin/tipos_de_cliente/add/verify_slug",
        data: { slug: $('#inputSlug').val()},
        beforeSend: function(jqXHR) {
          $('#inputSlug-feedback').html('<p style="position:absolute;">Aguarde.</p>');
          // lógica para verificar caracteres inválidos no link
          var slug = $('#inputSlug').val();
          var slug_filtered = slug.match(/[A-Za-z0-9_-]*/);
          var dif = slug.localeCompare(slug_filtered);
          var n = slug.indexOf("deleted");
          //var str = "Hello world, welcome to the universe.";

          if ((dif) || (n !== -1)){
            jqXHR.abort(event);
            $('#inputSlug-feedback').html('<p style="color:red; position:absolute;">Padrão não permitido.</p>');
            $('#inputSlug').parent('.form-group').addClass('has-error');
          }
        }
      }).done(function(result)
        {
          if (result === true) {
            $('#inputSlug-feedback').html('<p style="color:green; position:absolute;">Disponível para cadastro.</p>');
            $('#inputSlug').attr('ok', 'ok');
          }

          if (result === false) {
            $('#inputSlug-feedback').html('<p style="color:red; position:absolute;">Slug já utilizado. Selecione outro.</p>');
            $('#inputSlug').parent('.form-group').addClass('has-error');
          }
        }).fail(function(jqXHR, textStatus, msg){
            console.log(textStatus);
          });
      }
  });
</script>

<script type="text/javascript">
  $('#userform').submit(function(){
    if ( $('#inputSlug').attr('ok') !== 'ok') {
      $('#inputSlug').focus();
      return false;
    }
    return true;
  });
</script>

{% endblock %}
