{% extends "layout.twig" %}
{% set nav_active = 'posts' %}


{% block content -%}

  <section class="" >
    <div class="container">
      <div class="row">
        {% for post in posts if post.status == 1 %}
          <div class="col-sm-4">
            <div class="card">
              <div class="content" style="padding:10px;">
                <img src="{{ base_url() }}/{{ post.img_featured }}">
                <h4>{{ post.name }}</h4>
                <a href="{{ base_url() }}/posts/{{ post.id }}">Ver Mais</a>
              </div>
            </div>
          </div>
        {% else %}
          <h3>Não existem posts disponíveis no momento.</h3>
        {% endfor %}
      </div>
    </div>
  </section>

{%- endblock %}
{% block javascripts %} {{ parent()}}
{% endblock %}
