{% extends "admin/layout.twig" %}
{% block html_title %}Usuários - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'user' %}
{% block breadcrumbs %}
  <ol class="breadcrumb" style="">
    <li><a href="{{ base_url() }}/admin">Início</a></li>
    <li><a href="{{ base_url() }}/admin/user/all">Usuários</a></li>
    <li class="active">Adicionar</li>
  </ol>
{% endblock %}
{% block content %}

<div class="card">
  <div class="card-header" data-background-color="blue">
    <h3>Cadastrar um Administrador</h3>
  </div>

  <div class="card-content">
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <form id="userform" role="form" action="{{ base_url() }}/admin/user/add" method="POST">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="inputName">Nome</label>
                <input type="text" class="form-control" id="inputName" name="name"  required>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="email"  required>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="inputTelefone">Telefone</label>
              <input type="text" class="form-control" id="inputTelefone" name="telefone"  required>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="inputLogin">Login</label>
                <input type="text" class="form-control" id="inputLogin" name="slug" required>
                <div id="inputLogin-feedback"></div>

              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="inputPassword">Senha</label>
                <input type="password" class="form-control" id="inputPassword" name="password" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="type">Nível Permissão</label>
                <select class="form-control" id="type" name="type">
                  {% if admin_ancora.type > 3 %}<option value="3">Alto</option>{% endif %}
                  {% if admin_ancora.type > 2 %}<option value="2">Médio</option>{% endif %}
                  {% if admin_ancora.type > 1 %}<option value="1">Baixo</option>{% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block javascripts %}

<script src="{{ base_url() }}/js/jquery.mask.js"></script>

<script>
  // tratamento do botão enter
  $('body').on('keydown', 'input, select, textarea', function(e) {
    var self = $(this)
      , form = self.parents('form:eq(0)')
      , focusable
      , next
      ;
    //console.log(e.currentTarget);
    if (e.keyCode == 13) {
        focusable = form.find('input,a,select,button,textarea').filter(':visible');
        next = focusable.eq(focusable.index(this)+1);
        if (next.length || e.currentTarget.id == "selectRole") {
          if (e.currentTarget.id == "selectRole") {
            form.submit();
          }
          next.focus();

        } else {
            form.submit();
        }
        return false;
    }
  });
</script>

<script type="text/javascript">

</script>

<script type="text/javascript">
</script>

{% endblock %}
