{% extends "admin/layout.twig" %}
{% block html_title %}Usuários - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'user' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li class="active">Usuários</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <a class="btn btn-success" href="{{ base_url() }}/admin/user/add">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Administrador
    </a>
  </div>
</div>
<div class="card">
  <div class="card-header" data-background-color="blue">
    <div class="row">
      <div class="col-xs-8 col-sm-8">
        <h3>{{ page_title }}</h3>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

        <select name="order" id="order">
          <option value="1" {% if order == '1' %} selected {% endif %}>Data Crescente</option>
          <option value="2" {% if order == '2' %} selected {% endif %}>Data Decrescente</option>
        </select>


        <select name="filtro" id="filtro">
          <option value="1" {% if filtro == '1' %} selected {% endif %}>Usuários Ativos</option>
          <option value="2" {% if filtro == '2' %} selected {% endif %}>Usuários Inativos</option>
          <option value="3" {% if filtro == '3' %} selected {% endif %}>Todos os Usuários</option>
        </select>
        <a class="btn btn-primary btn-sm controle_tabela" href="" id="order_btn">
          <i class="material-icons" >search</i>
        </a>
      </div>
      <div class="col-xs-12 col-sm-3">


      </div>
        <div class="col-xs-12 col-sm-2">

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% if users %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Nome</th>
                  <th>Criado em</th>
                  <th>Nível</th>
                  <th>Situação</th>
                  <th class="th-button" style="width:100px;"></th>
                  {# <th class="th-button" style="width:100px;"></th> #}
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td>
                    <a href="{{ base_url() }}/admin/user/{{ user.id }}">
                      {{ user.email }}
                    </a>
                  </td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.created_at }}</td>
                  <td>
                    {% if user.type == 4 %}root{% endif %}
                    {% if user.type == 3 %}Alto{% endif %}
                    {% if user.type == 2 %}Médio{% endif %}
                    {% if user.type == 1 %}Baixo{% endif %}
                  </td>
                  <td>
                    {% if user.type >= admin_ancora.type and user.id != admin_ancora.id %}
                    {% elseif user.type == 4 %}
                    {% else %}
                      <a class="btn btn-xs btn-default" style="width:100%; margin-top:2px; margin-bottom:2px;" href="{{ base_url() }}/admin/user/edit/{{ user.id }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                      </a>
                      <a class="btn btn-xs btn-danger" style="width:100%; margin-top:2px; margin-bottom:2px;" href="{{ base_url() }}/admin/user/delete/{{ user.id }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Apagar
                      </a>
                    {% endif %}
                  </td>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="alert alert-danger" role="alert">Não existem usuários cadastrados</div>
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <ul class="pager">
            <li{% if page == 1 %} class="disabled"{% endif %}>
              <a{% if page > 1 %} href="{{ base_url() }}/admin/user?order={{ order }}&filtro={filtro}&page={{ page - 1 }}"{% endif %}>Anterior</a>
            </li>
            <li{% if page >= amountPages %} class="disabled"{% endif %}>
              <a{% if page < amountPages %} href="{{ base_url() }}/admin/user?order={{ order }}&filtro={filtro}&page={{ page + 1 }}"{% endif %}>Próximo</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>



{% endblock %}
{% block javascripts %}


  <script type="text/javascript">
      $('.controle_tabela').click(function(){
      var order = $('#order').val();
      var filtro = $('#filtro').val();
      //console.log('.controle_tabela');
      $("#order_btn").attr('href',   '{{ base_url() }}/admin/user?order=' + order + '&filtro=' + filtro + '&page={{ 1 }}');
    });
  </script>
  <script type="text/javascript">
      //$("#filtro_btn").click(function(){
      //var filtro = $('#filtro').val();
      //console.log($('#order_btn').attr('href'));
     // $("#filtro_btn").attr('href',   '{{ base_url() }}/admin/user?filtro=' + filtro + '&page={{ 1 }}');
    //});
  </script>
  {% endblock %}
