{% extends "admin/layout.twig" %}
{% block html_title %}Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'dashboard' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">Início</li>
</ol>
{% endblock %}

{% block content %}

<div class="main">
  <h3>{{ version.project }}</h3>
  <p>Projeto Ancora.</p>
  <p>Nesta página é possível obter informações sobre a versão e o estado atual deste projeto.</p>
  <p><strong>Versão Atual:</strong> {{ version.version }}</p>
  <p><strong>Etapa do Projeto:</strong> {{ version.stage }}</p>
  <p><strong>Data:</strong> {{ version.date }}</p>
  <p><strong>Branch:</strong> {{ version.branch }}</p>
  <p><strong>Repositório:</strong> <a href="{{ version.repository }}">{{ version.repository }}</a></p>

</div>

{% endblock %}
